  /*BASIC GRID FOR MAIN--------------------------------------------------------------------*/
main{
    width:100%;
    text-align: left;
    @include tablet{
      display: grid;
      grid-gap: 1rem;
    }
}
.section-grid {
  display: grid;
  grid-gap: 5%;
  padding: 5%;
  @include tablet{
    padding: 2.5%;
    margin: 0 5%;
    grid-template-columns: 1fr 1fr;
    &.about{
      @include tablet{
        grid-template-columns: 60% 35%;
      }
    }
    &.work{
      @include tablet{
        grid-template-columns: 35% 60%;
      }
    }
    &.projects{
      @include tablet{
        grid-template-columns: 60% 35%;
      }
    }
  }
  @include desktop{
    padding:2.5%;
    margin: 0 10%;
  }
  .img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    margin-bottom: 5%;
    @include tablet{
      margin-bottom: 0;
    }
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5%;
    @include tablet{
      margin-bottom: 0;
    }
  }
}// end of .section-grid

  /*ABOUT---------------------------------*/
  .about .text{
    margin-bottom: 10%;
    @include tablet{
      margin-bottom: 0;
    }
  }

  #paragraph1::before{
    content: "1.";
      position: absolute;
      top: 20px;
      left: -80px;
      color: #e678d7;
      font-size: 247px;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-weight: 600;
      letter-spacing: 8px;
      z-index: -1;
  }


  /*WORK---------------------------------------------------*/

  #paragraph2{
      position: relative;
  }
  
  #paragraph2:after {
      content: "2.";
      position: absolute;
      top: -52px;
      left: -48px;
      color: #fb7f97;
      font-size: 247px;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-weight: 600;
      letter-spacing: 8px;
      z-index: -1;
  }

  /*MOTTO-----------------------------------------*/
  .motto{
      background-image:
      url("./../../images/wave-bottom.svg"),
      url("./../../images/fullbg.jpg");
      background-position: left bottom, center;
      background-size: 80% 5%, cover;
      background-repeat: no-repeat, no-repeat;
      text-align: center;
      height: 500px;
      display: flex;
      // flex-direction: column;
      justify-content:center;
      align-items: center;
      h1{
        font-weight: bolder;
        @include tablet{
          font-size: 5rem;
        }
      }
  }
