  /*HEADER---------------------------------------------------------------*/
  .banner{
    background-image: linear-gradient(45deg, #fe6b83 0%, #9326f0 100%);
    height: 500px;
    padding: 2.5%;
    text-align: center;
    color: #ffffff;
    position: relative;
}

#wave-top {
      position: absolute;
      width: 60%;
      max-width: 600px;
      right: 0px;
      bottom: -10px;
      @include tablet{
          bottom:- 35px;
      }
  }
 #wave-top2 {
    right: 0px;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    width: 40%;
    max-width: 400px;
  @include tablet{
    bottom: 40px;
  }
  @include desktop{
    bottom: 60px;
  }
}
  /*NAVIGATION------------------------------------------------------------------*/
.entry-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        @include tablet{
            padding-top: 10px;
            font-size: 3rem;
        }
        @include desktop{
            font-size: 5rem;
        }
      }
     p{
         margin:0;
         padding:1rem;
         transform: translateY(-10px);
         @include tablet{
             font-size:2rem;
         };
     }
    ol{
        display: flex;
        flex-wrap: wrap;
        li{
            margin: 10px;
            flex-grow: 1;
            text-transform: uppercase;
            a{
                @include tablet{
                font-size: 2rem;
                }
                @include desktop{
                    font-size: 2.5rem;
                }
            }
        }
    }
}
.we_create_ {
    font-size: 22.694px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.628;
    -moz-transform: matrix( 10.0161701812094,0,0,10.2250571505235,0,0);
    -webkit-transform: matrix( 10.0161701812094,0,0,10.2250571505235,0,0);
    -ms-transform: matrix( 10.0161701812094,0,0,10.2250571505235,0,0);
    position: absolute;
    left: 1189.778px;
    top: 386.027px;
    z-index: 4;
  }
  