/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	// font-family:$font_second;
    // text-transform: uppercase;
}
h1{
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: bold;
	color:white;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.75rem;
    font-weight: 700;
	color:$color__purple;
	letter-spacing: 0.3rem;
}

h4{
	font-size: 1.2rem;
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
	line-height: 1.75;
	font-family: $font__second;
}
a{
	text-decoration: none;
	.more-btn &{
		padding: 5px;
		border: 2px solid $color__pink;
		font-family: $font__main;
	}
}


dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}



