/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Montserrat", serif; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: white; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #582782;
  letter-spacing: 0.3rem; }

h4 {
  font-size: 1.2rem; }

/* Copy */
p {
  margin-bottom: 1.5rem;
  line-height: 1.75;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }
  .more-btn a {
    padding: 5px;
    border: 2px solid deeppink;
    font-family: "Montserrat", serif; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5rem; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
  font-family: "Montserrat", serif;
  color: #582782;
  text-align: center;
  width: 100%;
  line-height: 1.5rem;
  font-weight: 400; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem; }

ul, ol {
  margin: 0 0 1.5rem 3rem; }

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5rem;
  font-family: "Montserrat", serif; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5rem 1.5rem; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5rem;
  width: 100%; }

a {
  text-decoration: none;
  color: #582782;
  font-size: 1rem;
  font-weight: 700; }

.bold {
  font-weight: bolder; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Buttons */
button, button:hover, button:active, button:focus, button:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0; }

textarea {
  background-color: transparent;
  border: 2px solid #582782;
  width: 90%;
  height: 120px;
  margin-bottom: 8px; }

/*HEADER---------------------------------------------------------------*/
.banner {
  background-image: linear-gradient(45deg, #fe6b83 0%, #9326f0 100%);
  height: 500px;
  padding: 2.5%;
  text-align: center;
  color: #ffffff;
  position: relative; }

#wave-top {
  position: absolute;
  width: 60%;
  max-width: 600px;
  right: 0px;
  bottom: -10px; }
  @media (min-width: 620px) {
    #wave-top {
      bottom: -35px; } }

#wave-top2 {
  right: 0px;
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 40%;
  max-width: 400px; }
  @media (min-width: 620px) {
    #wave-top2 {
      bottom: 40px; } }
  @media (min-width: 1080px) {
    #wave-top2 {
      bottom: 60px; } }

/*NAVIGATION------------------------------------------------------------------*/
.entry-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 620px) {
    .entry-text h1 {
      padding-top: 10px;
      font-size: 3rem; } }
  @media (min-width: 1080px) {
    .entry-text h1 {
      font-size: 5rem; } }
  .entry-text p {
    margin: 0;
    padding: 1rem;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
    @media (min-width: 620px) {
      .entry-text p {
        font-size: 2rem; } }
  .entry-text ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .entry-text ol li {
      margin: 10px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-transform: uppercase; }
      @media (min-width: 620px) {
        .entry-text ol li a {
          font-size: 1.5rem; } }
      @media (min-width: 1080px) {
        .entry-text ol li a {
          font-size: 1.5rem; } }

.we_create_ {
  font-size: 22.694px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  line-height: 1.628;
  -moz-transform: matrix(10.01617, 0, 0, 10.22506, 0, 0);
  -webkit-transform: matrix(10.01617, 0, 0, 10.22506, 0, 0);
  -ms-transform: matrix(10.01617, 0, 0, 10.22506, 0, 0);
  position: absolute;
  left: 1189.778px;
  top: 386.027px;
  z-index: 4; }

/*BASIC GRID FOR MAIN--------------------------------------------------------------------*/
main {
  width: 100%;
  text-align: left; }
  @media (min-width: 620px) {
    main {
      display: grid;
      grid-gap: 1rem; } }

.section-grid {
  display: grid;
  grid-gap: 5%;
  padding: 5%; }
  @media (min-width: 620px) {
    .section-grid {
      padding: 2.5%;
      margin: 2% 5%;
      grid-template-columns: 1fr 1fr; }
      .section-grid.about {
        margin-top: 50px; } }
    @media (min-width: 620px) and (min-width: 620px) {
      .section-grid.about {
        grid-template-columns: 60% 35%; } }
  @media (min-width: 620px) and (min-width: 620px) {
    .section-grid.work {
      grid-template-columns: 35% 60%; } }
  @media (min-width: 620px) {
      .section-grid.projects {
        margin-top: 50px; } }
    @media (min-width: 620px) and (min-width: 620px) {
      .section-grid.projects {
        grid-template-columns: 60% 35%; } }
  @media (min-width: 1080px) {
    .section-grid {
      padding: 2.5%;
      margin: 0 10%; } }
  .section-grid .img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 100%;
    margin-bottom: 5%; }
    @media (min-width: 620px) {
      .section-grid .img {
        margin-bottom: 0; } }
  .section-grid .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5%; }
    @media (min-width: 620px) {
      .section-grid .text {
        margin-bottom: 0; } }
    .section-grid .text p {
      margin-top: 1.5rem; }

/*ABOUT---------------------------------*/
.about .text {
  margin-bottom: 10%; }
  @media (min-width: 620px) {
    .about .text {
      margin-bottom: 0; } }

.about .text h3 {
  position: relative; }
  .about .text h3:before {
    content: "1.";
    position: absolute;
    color: #e579d7;
    font-weight: bold;
    top: 4.5rem;
    left: -0.8rem;
    font-size: 15rem;
    letter-spacing: 0.5rem;
    z-index: -6; }
    @media (min-width: 620px) {
      .about .text h3:before {
        left: -5rem; } }

/*WORK---------------------------------------------------*/
.work .text h3 {
  position: relative;
  font-weight: bold; }
  .work .text h3:after {
    content: "2.";
    position: absolute;
    top: 4.5rem;
    left: -1rem;
    color: #fb7f97;
    font-size: 15rem;
    letter-spacing: 0.5rem;
    z-index: -7; }
    @media (min-width: 620px) {
      .work .text h3:after {
        left: -5rem; } }

@media (min-width: 620px) {
  .work .text {
    margin-left: 3rem; } }

/*MOTTO-----------------------------------------*/
.motto {
  background-image: url("./../../images/fullbg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .motto img {
    position: absolute;
    left: 0;
    bottom: -17px;
    z-index: 1;
    width: 60%; }
    @media (min-width: 620px) {
      .motto img {
        bottom: -30px; } }
    @media (min-width: 1080px) {
      .motto img {
        bottom: -50px; } }
  .motto h1 {
    font-weight: bolder; }
    @media (min-width: 620px) {
      .motto h1 {
        font-size: 5rem; } }

.wave {
  background-image: url("wave.png");
  position: absolute;
  left: 0px;
  top: 2989px;
  width: 1259px;
  height: 149px;
  z-index: 44; }

/*PROJECTS----------------------------------------*/
.projects .text h3 {
  margin-top: 1rem;
  position: relative; }
  .projects .text h3:before {
    content: "3.";
    position: absolute;
    color: #e421b4;
    font-weight: bold;
    top: 4.5rem;
    left: -1rem;
    font-size: 15rem;
    letter-spacing: 0.5rem;
    z-index: -6; }
    @media (min-width: 620px) {
      .projects .text h3:before {
        left: -4rem; } }
    @media (min-width: 1080px) {
      .projects .text h3:before {
        left: -8.5rem; } }

/*CONTACT---------------------------------------*/
footer {
  background: linear-gradient(140deg, #9326f0 19%, #ff7fc4 81%);
  overflow: hidden;
  padding: 2.5%;
  display: grid;
  grid-gap: 1rem;
  text-align: left; }
  @media (min-width: 620px) {
    footer {
      grid-template-columns: 1fr 1fr; }
      footer .form-box {
        grid-column: 2;
        grid-row: 1 / 4;
        margin: 0 10%; } }
  footer h1 {
    color: #582782;
    margin: 10% 10% 0 10%; }
    @media (min-width: 620px) {
      footer h1 {
        grid-column: 1;
        grid-row: 1 / 3;
        font-size: 4rem; } }
  @media (min-width: 620px) and (min-width: 1080px) {
    footer h1 {
      font-size: 5rem; } }
  footer .credits {
    font-size: 0.6rem; }
    @media (min-width: 620px) {
      footer .credits {
        grid-column: 1;
        grid-row: 3;
        font-size: 0.8rem;
        margin: 0 10%; } }
  footer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer form label {
      font-size: 0.75rem;
      font-family: "Roboto", sans-serif;
      margin-top: 1.25rem;
      margin-bottom: 0.5rem; }
    footer form input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #440c74;
      width: 90%;
      height: 2rem; }
    footer form span {
      border: 2px solid white;
      width: 30%;
      text-align: center;
      margin-top: 1.5rem;
      padding: 1%; }
      footer form span a {
        color: white;
        padding: 5px; }
